
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}


html,
body {
  background: url('img/sw_bg.jpg') no-repeat center/cover ;
  height: 100vh;
  color: white
}

header img {
  margin: auto;
  width: 350px;
  margin-top: 150px;
}

.center{
  display: flex;
  align-items: center;
  align-content: center;
}

table {

  margin: auto;
  margin-top: 50px;

}

table th, td  {
  text-align: center;
}

.pagination > li {
  color: rgb(232, 4, 4);
  
}


li.page-link:active{
  background-color: rgb(230, 197, 65);
  color:  white;
}

li.page-link:hover{
  background-color: rgb(230, 197, 65);
  color:  white;
}

span.page-link.page-item.active {
  background-color: rgb(230, 197, 65);
  color:  white;
}