
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}


html,
body {
  background: url('img/sw_bg.jpg') no-repeat center/cover ;
  height: 100vh;
  color: white
}

header img {
  margin: auto;
  width: 350px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.center{
  display: flex;
  align-items: center;
  align-content: center;
}

table {

  margin: auto;
  margin-top: 10px;

}

table th, td  {
  text-align: center;
}

.pagination > li {
  color: rgb(232, 4, 4);
  
}


li.page-link:active{
  background-color: rgb(230, 197, 65);
  color:  white;
}
li.page-item:active{
  background-color: rgb(230, 197, 65);
  color:  white;
}

li.page-link:hover{
  background-color: rgb(230, 197, 65);
  color:  white;
}



.pagination > li.active {
  background: rgb(230, 197, 65);
  color: #fff;
}

input {
  display: block;
  margin: auto;
  margin-top: 40px; 
  width: 40%;
  text-align: center;
  /* width: 300px;
  border-width: 2px;
  accent-color: rgb(255, 0, 55); */

}

input:focus, textarea:focus{
  outline: none !important;
  border-color: rgb(230, 197, 65);
  box-shadow: 0 0 20px rgb(230, 197, 65);
}

.centerText{
  display: block;
  margin: 0px auto;
  text-align: center;
}